{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--== Hero Slider Start ==-->
<section class="parallax-bg fixed-bg view-height-100vh lg-section" data-parallax-bg-image="{% static 'assets/images/background/backgroundimg.jpg' %}" data-parallax-speed="0.5" data-parallax-direction="up">
    <div class="color-overlay-bg"></div>
    <div class="hero-text-wrap transparent-bg">
      <div class="hero-text">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 xs-mb-30">
              <div class="all-padding-50 white-color">
                  <h3 class="roboto-font font-700 line-height-50">HealthHub: Your Comprehensive Hospital Companion App</h3>
                  <h5 class="roboto-font font-300">The Hospital Chatbot App is an interactive application designed to assist patients and healthcare professionals with various hospital-related tasks. This chatbot can be accessed through a user-friendly interface that allows users to communicate with the application through voice or text commands.</h5>
                  <p class="mt-30"><a class="btn btn-light-outline btn-lg btn-circle">Chat Now</a></p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-mobile-wrap">
                <img src="{% static 'assets/images/iphone1.png' %}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--== Hero Slider End ==-->

<!--== Who We Are Start ==-->
<section class="white-bg">
  <div class="container">
    <div class="row">
          <div class="col-sm-8 section-heading text-center">
                    <h1 class="font-700 roboto-font">What We Do</h1>
          <hr class="center_line default-bg">
          <h5 class="roboto-font font-300 font-20px">The app's primary function is to provide users with a virtual assistant that can answer frequently asked questions about hospital procedures, medical conditions, and treatment options. The chatbot can also assist patients in scheduling appointments, medication.</h5>
              </div>
        <div class="col-sm-8 centerize-col text-center">
          <div class="video-box mt-50">
              <img class="img-responsive" src="{% static 'assets/images/videoimg2.jpg' %}" alt="">
              <div class="video-box_overlay">
                <div class="center-layout">
                  <div class="v-align-middle"> <a class="popup-youtube" href="https://www.youtube.com/watch?v=sU3FkzUKHXU">
                    <div class="play-button"><i class="tr-icon ion-android-arrow-dropright"></i> </div>
                    </a> </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>
<!--== Who We Are End ==-->

<!--== Counter Start ==-->
<section class="parallax-bg fixed-bg" data-parallax-bg-image="{% static 'assets/images/countimg2.jpg' %}" data-parallax-speed="0.8" data-parallax-direction="up">
    <div class="parallax-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="counter-wrap wow fadeInRight white-color" data-wow-delay="0.1s">
          <h2 class="font-60px"><span class="counter font-600">8025</span></h2>
          <h3 class="font-200 text-uppercase">Lines of Code</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter-wrap wow fadeInRight white-color" data-wow-delay="0.2s">
          <h2 class="font-60px"><span class="counter font-600">26</span></h2>
          <h3 class="font-200 text-uppercase">Awards</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter-wrap wow fadeInRight white-color" data-wow-delay="0.3s">
          <h2 class="font-60px"><span class="counter font-600">662</span></h2>
          <h3 class="font-200 text-uppercase">Cups of Coffee</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter-wrap wow fadeInRight white-color" data-wow-delay="0.4s">
          <h2 class="font-60px"><span class="counter font-600">49</span></h2>
          <h3 class="font-200 text-uppercase">Projects Won</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== Counter End ==-->

<!--== Features Start ==-->
<section class="white-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 section-heading text-center">
        <h1 class="font-700 roboto-font">App Features</h1>
        <hr class="center_line default-bg">
        <h5 class="roboto-font font-300 font-20px">Health AI bots can have a wide range of features that can be tailored to the specific needs of patients and healthcare providers. </h5>
      </div>
    </div>
    <div class="row mt-50">
      <div class="col-md-4">
            <div class="text-right mt-50">
            <h5 class="mt-0 font-600">Mental Health Support</h5>
            <p class="font-300">The bot can provide support for users who are struggling with mental health issues. It can offer coping strategies, suggest self-care activities, and provide resources for finding professional help.</p>
          </div>
          <div class="text-right mt-50">
            <h5 class="mt-0 font-600">Health Education</h5>
            <p class="font-300">The bot can provide information about various health topics, such as nutrition, exercise, and disease prevention. It can also answer questions about specific medical conditions and treatments.</p>
          </div>
          <div class="text-right mt-50">
            <h5 class="mt-0 font-600">Emergency Assistance</h5>
            <p class="font-300"> In case of an emergency, the bot can provide information on what to do and whom to contact for help. It can also provide first aid instructions for common injuries and illnesses.</p>
          </div>
      </div>
      <div class="col-md-4">
             <img class="img-responsive" src="{% static 'assets/images/iphone1.png' %}" alt=""/>
         </div>
      <div class="col-md-4">
            <div class="text-left mt-50">
            <h5 class="mt-0 font-600">Medical Advice</h5>
            <p class="font-300">The bot should also provide medical advice based on the symptoms and conditions identified. The advice can include recommendations for over-the-counter medications, home remedies, or when to seek professional medical attention.</p>
          </div>
          <div class="text-left mt-50">
            <h5 class="mt-0 font-600">Health News and Updates</h5>
            <p class="font-300">The bot can provide users with the latest health news and updates, including new treatments, medical breakthroughs, and public health alerts.</p>
          </div>
          <div class="text-left mt-50">
            <h5 class="mt-0 font-600">Patient Communication</h5>
            <p class="font-300">Health AI bots can facilitate communication between patients and healthcare providers, allowing patients to ask questions and receive information in real-time.</p>
          </div>
      </div>
    </div>
  </div>
</section>
<!--== Features End ==-->

<!--== Screenshot Gallery Start ==-->
<section class="dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 section-heading text-center white-color">
        <h1 class="font-700 roboto-font">Latest Hospital Equipment</h1>
        <hr class="center_line default-bg">
        <h5 class="roboto-font font-300 font-20px">Here are some of the advanced medical equipment that have been introduced in recent years</h5>
      </div>
    </div>
    <div class="row mt-50">
      <div class="app-gallery-slider slick">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="img-item">
            <div class="portfolio gallery-image-hover text-center">
              <div class="folio-overlay"></div>
              <img src="{% static 'assets/images/s1.jpg' %}" alt="">
              <div class="portfolio-wrap">
                <ul class="portfolio-details top-80">
                  <li><a class="magnific-lightbox" href="{% static 'assets/images/s1.jpg' %}"><i class="icofont icofont-search"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="img-item">
            <div class="portfolio gallery-image-hover text-center">
              <div class="folio-overlay"></div>
              <img src="{% static 'assets/images/s2.jpg' %}" alt="">
              <div class="portfolio-wrap">
                <ul class="portfolio-details top-80">
                  <li><a class="magnific-lightbox" href="{% static 'assets/images/s2.jpg' %}"><i class="icofont icofont-search"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="img-item">
            <div class="portfolio gallery-image-hover text-center">
              <div class="folio-overlay"></div>
              <img src="{% static 'assets/images/s3.jpg' %}" alt="">
              <div class="portfolio-wrap">
                <ul class="portfolio-details top-80">
                  <li><a class="magnific-lightbox" href="{% static 'assets/images/s3.jpg' %}"><i class="icofont icofont-search"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="img-item">
            <div class="portfolio gallery-image-hover text-center">
              <div class="folio-overlay"></div>
              <img src="{% static 'assets/images/s4.jpg' %}" alt="">
              <div class="portfolio-wrap">
                <ul class="portfolio-details top-80">
                  <li><a class="magnific-lightbox" href="{% static 'assets/images/s4.jpg' %}"><i class="icofont icofont-search"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="img-item">
            <div class="portfolio gallery-image-hover text-center">
              <div class="folio-overlay"></div>
              <img src="{% static 'assets/images/s5.jpg' %}" alt="">
              <div class="portfolio-wrap">
                <ul class="portfolio-details top-80">
                  <li><a class="magnific-lightbox" href="{% static 'assets/images/s5.jpg' %}"><i class="icofont icofont-search"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== Screenshot Gallery End ==-->

<!--== Blogs Start ==-->
<section class="white-bg">
  <div class="container">
    <div class="row">
          <div class="col-sm-8 section-heading text-center">
                    <h1 class="font-700 roboto-font">How the bot works?</h1>
          <hr class="center_line default-bg">
          <h5 class="roboto-font font-300 font-20px">An AI healthcare bot works by using natural language processing (NLP) and machine learning algorithms</h5>
              </div>
    </div>
    <div class="row mt-50 blog-style-01">
      <div class="col-md-4 col-sm-4 col-xs-12 mb-30">
        <div class="post">
          <div class="post-img"> <img class="img-responsive" src="{% static 'assets/images/b1.jpg' %}" alt=""/> </div>
          <div class="post-info all-padding-40">
            <h3><a href="blog-grid.html">Data collection - The first step is to collect relevant data, such as medical records, lab results, clinical notes, and other healthcare-related information. This data can be obtained from various sources, such as electronic health records (EHRs), medical journals, and online resources.</a></h3>
            <h6>HEALTHCARE BOT</h6>
            <hr>
          </div>
        </div>
      </div>
      <!--== Post End ==-->

      <div class="col-md-4 col-sm-4 col-xs-12 mb-30">
        <div class="post">
          <div class="post-img"> <img class="img-responsive" src="{% static 'assets/images/b2.jpg' %}" alt=""/> </div>
          <div class="post-info all-padding-40">
            <h3><a href="blog-grid.html">Data preprocessing - Once the data is collected, it needs to be preprocessed to ensure it is clean, organized, and formatted in a way that the bot can understand. This might involve tasks such as data cleaning, normalization, and transformation.</a></h3>
            <h6>HEALTHCARE BOT</h6>
            <hr>
          </div>
        </div>
      </div>
      <!--== Post End ==-->

      <div class="col-md-4 col-sm-4 col-xs-12 mb-30">
        <div class="post">
          <div class="post-img"> <img class="img-responsive" src="{% static 'assets/images/b3.jpg' %}" alt=""/> </div>
          <div class="post-info all-padding-40">
            <h3><a href="blog-grid.html">Evaluation - After the bot is trained, it needs to be evaluated to ensure it is accurate and reliable. This might involve testing the bot on a separate dataset or using cross-validation techniques to assess its performance.</a></h3>
            <h6>HEALTHCARE BOT</h6>
            <hr>
          </div>
        </div>
      </div>
      <!--== Post End ==-->
    </div>
  </div>
</section>
<!--== Blogs End ==-->

{% endblock %}